Logical/mappView/Widgets/mapp6D/Assembly6D/meta/Assembly6D.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.br-automation.com/iat2015/contentDefinition/v2" xmlns:iat="http://www.br-automation.com/iat2015/contentDefinition/v2" xmlns:types="http://www.br-automation.com/iat2015/widgetTypes/v2" elementFormDefault="qualified">
<xs:complexType name="widgets.mapp6D.Assembly6DRestrict" abstract="true">
	<xs:complexContent>
		<xs:restriction base="iat:brease.core.BaseContentWidget">
			<xs:attribute name="tabIndex" use="optional" type="types:Integer" default="-1" />
			<xs:attribute name="height" use="optional" type="types:AutoSize" default="140" />
			<xs:attribute name="width" use="optional" type="types:AutoSize" default="140" />
		</xs:restriction>
	</xs:complexContent>
</xs:complexType>
<xs:complexType name="widgets.mapp6D.Assembly6D">
	<xs:complexContent>
		<xs:extension base="iat:widgets.mapp6D.Assembly6DRestrict">
			<xs:attribute name="mpLink" use="optional" type="types:MpComIdentReference" default="{}" />
			<xs:attribute name="mpLinkTrafficManager" use="optional" type="types:MpComIdentReference" default="{}" />
			<xs:attribute name="showAdditionalShuttleInfo" use="optional" type="types:Boolean" default="true" />
			<xs:attribute name="showAdditionalTrafficManagerInfo" use="optional" type="types:Boolean" default="false" />
			<xs:attribute name="showCoordinateSystem" use="optional" type="types:Boolean" default="true" />
			<xs:attribute name="showRxAxisShuttleInfo" use="optional" type="types:Boolean" default="true" />
			<xs:attribute name="showRyAxisShuttleInfo" use="optional" type="types:Boolean" default="true" />
			<xs:attribute name="showRzAxisShuttleInfo" use="optional" type="types:Boolean" default="true" />
			<xs:attribute name="showXAxisShuttleInfo" use="optional" type="types:Boolean" default="true" />
			<xs:attribute name="showYAxisShuttleInfo" use="optional" type="types:Boolean" default="true" />
			<xs:attribute name="showZAxisShuttleInfo" use="optional" type="types:Boolean" default="true" />
			<xs:attribute name="textColor" use="optional" type="types:Color" default="#020202" />
			<xs:attribute name="segmentPowerOffColor" use="optional" type="types:Color" default="#555555" />
			<xs:attribute name="segmentPowerOnColor" use="optional" type="types:Color" default="#7b7b7b" />
			<xs:attribute name="segmentErrorColor" use="optional" type="types:Color" default="#cb0000" />
			<xs:attribute name="segmentHomingColor" use="optional" type="types:Color" default="#c8c8c8" />
			<xs:attribute name="segmentStoppingColor" use="optional" type="types:Color" default="#666666" />
			<xs:attribute name="shuttlePowerOffColor" use="optional" type="types:Color" default="#85857e" />
			<xs:attribute name="shuttlePowerOnColor" use="optional" type="types:Color" default="#ffffff" />
			<xs:attribute name="shuttleErrorColor" use="optional" type="types:Color" default="#cb0000" />
			<xs:attribute name="shuttleStoppingColor" use="optional" type="types:Color" default="#ff8800" />
			<xs:attribute name="shuttleIdlingColor" use="optional" type="types:Color" default="#ffffff" />
			<xs:attribute name="shuttleLandedColor" use="optional" type="types:Color" default="#b0b0b0" />
			<xs:attribute name="shuttleMotionColor" use="optional" type="types:Color" default="#e0e0e0" />
			<xs:attribute name="shuttleObstacleColor" use="optional" type="types:Color" default="#b0b0b0" />
			<xs:attribute name="zoneActiveClosedColor" use="optional" type="types:Color" default="#ff8800" />
			<xs:attribute name="zoneNotActiveColor" use="optional" type="types:Color" default="#ff8800" />
			<xs:attribute name="zoneErrorColor" use="optional" type="types:Color" default="#cb0000" />
			<xs:attribute name="powerSectorActiveClosedColor" use="optional" type="types:Color" default="#8e50d0" />
			<xs:attribute name="powerSectorNotActiveColor" use="optional" type="types:Color" default="#8e50d0" />
			<xs:attribute name="powerSectorErrorColor" use="optional" type="types:Color" default="#cb0000" />
			<xs:attribute name="stationActiveOpenColor" use="optional" type="types:Color" default="#12b8ff" />
			<xs:attribute name="waypointActiveOpenColor" use="optional" type="types:Color" default="#b266ff" />
			<xs:attribute name="branchingWaypointActiveOpenColor" use="optional" type="types:Color" default="#ffffff" />
			<xs:attribute name="trafficManagerLinkColor" use="optional" type="types:Color" default="#d3d1d1" />
		</xs:extension>
	</xs:complexContent>
</xs:complexType>
</xs:schema>
