Logical/mappView/Widgets/mapp6D/Assembly6D/meta/Assembly6D_Styles.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.br-automation.com/iat2015/styles/engineering/v1"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:sd="http://www.br-automation.com/iat2015/styles/engineering/v1"
        xmlns:kt="http://www.br-automation.com/iat2015/keywordTypes/v1"
        elementFormDefault="qualified">
	<xs:complexType name="widgets.mapp6D.Assembly6D">
		<xs:complexContent>
			<xs:extension base="sd:stylesBase">
				<xs:attribute name="textColor" use="optional" type="kt:Color"></xs:attribute>
				<xs:attribute name="segmentPowerOffColor" use="optional" type="kt:Color"></xs:attribute>
				<xs:attribute name="segmentPowerOnColor" use="optional" type="kt:Color"></xs:attribute>
				<xs:attribute name="segmentErrorColor" use="optional" type="kt:Color"></xs:attribute>
				<xs:attribute name="segmentHomingColor" use="optional" type="kt:Color"></xs:attribute>
				<xs:attribute name="segmentStoppingColor" use="optional" type="kt:Color"></xs:attribute>
				<xs:attribute name="shuttlePowerOffColor" use="optional" type="kt:Color"></xs:attribute>
				<xs:attribute name="shuttlePowerOnColor" use="optional" type="kt:Color"></xs:attribute>
				<xs:attribute name="shuttleErrorColor" use="optional" type="kt:Color"></xs:attribute>
				<xs:attribute name="shuttleStoppingColor" use="optional" type="kt:Color"></xs:attribute>
				<xs:attribute name="shuttleIdlingColor" use="optional" type="kt:Color"></xs:attribute>
				<xs:attribute name="shuttleLandedColor" use="optional" type="kt:Color"></xs:attribute>
				<xs:attribute name="shuttleMotionColor" use="optional" type="kt:Color"></xs:attribute>
				<xs:attribute name="shuttleObstacleColor" use="optional" type="kt:Color"></xs:attribute>
				<xs:attribute name="zoneActiveClosedColor" use="optional" type="kt:Color"></xs:attribute>
				<xs:attribute name="zoneNotActiveColor" use="optional" type="kt:Color"></xs:attribute>
				<xs:attribute name="zoneErrorColor" use="optional" type="kt:Color"></xs:attribute>
				<xs:attribute name="powerSectorActiveClosedColor" use="optional" type="kt:Color"></xs:attribute>
				<xs:attribute name="powerSectorNotActiveColor" use="optional" type="kt:Color"></xs:attribute>
				<xs:attribute name="powerSectorErrorColor" use="optional" type="kt:Color"></xs:attribute>
				<xs:attribute name="stationActiveOpenColor" use="optional" type="kt:Color"></xs:attribute>
				<xs:attribute name="waypointActiveOpenColor" use="optional" type="kt:Color"></xs:attribute>
				<xs:attribute name="branchingWaypointActiveOpenColor" use="optional" type="kt:Color"></xs:attribute>
				<xs:attribute name="trafficManagerLinkColor" use="optional" type="kt:Color"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>