Logical/mappView/Widgets/mapp6D/OpcUaNodeBindingEventManager/meta/OpcUaNodeBindingEventManager.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.br-automation.com/iat2015/contentDefinition/v2" xmlns:iat="http://www.br-automation.com/iat2015/contentDefinition/v2" xmlns:types="http://www.br-automation.com/iat2015/widgetTypes/v2" elementFormDefault="qualified">
<xs:complexType name="widgets.mapp6D.OpcUaNodeBindingEventManagerRestrict" abstract="true">
	<xs:complexContent>
		<xs:restriction base="iat:brease.core.BaseWidget">
			<xs:attribute name="tabIndex" use="optional" type="types:Integer" default="-1" />
			<xs:attribute name="left" use="prohibited" type="types:Integer" />
			<xs:attribute name="top" use="prohibited" type="types:Integer" />
			<xs:attribute name="height" use="prohibited" type="types:Size" />
			<xs:attribute name="width" use="prohibited" type="types:Size" />
		</xs:restriction>
	</xs:complexContent>
</xs:complexType>
<xs:complexType name="widgets.mapp6D.OpcUaNodeBindingEventManager">
	<xs:complexContent>
		<xs:extension base="iat:widgets.mapp6D.OpcUaNodeBindingEventManagerRestrict">
		</xs:extension>
	</xs:complexContent>
</xs:complexType>
</xs:schema>
